{% extends 'base.html' %}
{% block title %}Ticketfy{% endblock %}

{% block content %}
<h1 class="'display-1">Welcome to <span class='fst-italic'>Ticketfy</span></h1>
<p class="lead">The best place to find tickets for all your favourite events!</p>
<p>You are currently logged in as (placeholder for jinjja2 code)</p>
<pre>
    How was I supposed to know
    This is how it's gonna go?
    Thought that if I put you first enough
    We would last for sure, last for sure (For sure)
    Remember our first kiss, was in a rental car
    Now I kinda wish it was a hit and run
    Crazy I let you get this far
    But I was just young and dumb
    
    [Pre-Chorus]
    Six years gone down the drain
    I guess I'm half to blame
    I didn't know, I didn't know I'd be wasting my time
    
    [Chorus]
    Spending my twenties on you (Oh)
    I poured my heart in it
    Don't get me started
    Spend my time wondering why
    I spent my twenties on you
    
    [Verse 2]
    Thought I was learning myself
    I was just learning you
    Is anything black and white
    When you're barely twenty-two?
    Clung onto you like a shirt to a sweater
    Hung onto you 'cause I didn't know better
    I just felt like time was runnin' out
    I could tell the ship was goin' down
    I was so young and dumb
    See upcoming R&B shows
    Get tickets for your favorite artists
    You might also like
    One More Dance
    d4vd
    Ordinary
    Alex Warren
    Born Again
    LISA
    [Pre-Chorus]
    Six years gone down the drain
    I guess I'm half to blame
    I didn't know, I didn't know I'd be wasting my time
    
    [Chorus]
    Spending my twenties on you (Oh)
    I poured my heart in it
    Don't get me started
    Spend my time wondering why
    I spent my twenties on you, oh
    I poured my heart in it
    Don't get me started
    Spend my time wondering why
    I spent my twenties on you</pre>
{% endblock %}