<footer class="bg-secondary text-light py-4">
    <div class="container px-4 text-md-left">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h3 class="fw-bold fst-italic fs-1">Ticketfy</h3>
                <p>hans island</p>
                <p>+65 0000 0000</p>
                <p>By continuing past this page, you wholeheartedly and solemnly agree to our <a href="#" class="text-decoration-none text-light fw-bold">terms of use</a></p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">  
                <h4 class="fw-bold fst-italic">Categories</h4>
                <ul class="list-unstyled">
                    <li class="pt-3"><a href='#' class="text-decoration-none text-light">Concerts</a></li>
                    <li class="pt-3"><a href='#' class="text-decoration-none text-light">Sports</a></li>
                    <li class="pt-3"<a href='#' class="text-decoration-none text-light">Comedy</a></li>
                    <li class="pt-3"><a href='#' class="text-decoration-none text-light">Family</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h4 class="fw-bold fst-italic">Customer Care</h4>
                <ul class="list-unstyled">
                    <li class="pt-3"<a href='#' class="text-decoration-none text-light">Help Center</a></li>
                    <li class="pt-3"><a href='#' class="text-decoration-none text-light">Contact Us</a></li>
                    <li class="pt-3"><a href='#' class="text-decoration-none text-light">Terms of Use</a></li>
                    <li class="pt-3"><a href='#' class="text-decoration-none text-light">News</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                <h4 class="fw-bold fst-italic">Be Part Of It</h4>
                <ul class="list-unstyled">
                    <li class="pt-3"><a href='#' class="text-decoration-none text-light">Ticket your Event</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mt-3">   
                <h4 class="fw-bold fst-italic">Let's Connect</h4>
                <div>
                    <a href="#" class="text-decoration-none text-light"><i class='bi bi-instagram fs-2 me-3'></i></a>
                    <a href="#" class="text-decoration-none text-light"><i class='bi bi-facebook fs-2 me-3'></i></a>
                    <a href="#" class="text-decoration-none text-light"><i class='bi bi-pinterest fs-2 me-3'></i></a>
                    <a href="#" class="text-decoration-none text-light"><i class='bi bi-linkedin fs-2'></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <p>
                &copy; 2025 hansmorillo. Most Rights Reserved.
            </p>
            <div class="d-flex">
                <a href="#" class="text-decoration-none text-light me-4">Terms of Use</a>
                <a href="#" class="text-decoration-none text-light">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>