<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold fst-italic fs-2" href="/">Ticketfy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="collapsibleNavbar">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Events</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <span>Categories</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Concerts</a></li>
                        <li><a class="dropdown-item" href="#">Sports</a></li>
                        <li><a class="dropdown-item" href="#">Comedy</a></li>
                        <li><a class="dropdown-item" href="#">Family</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Venues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactUs">Contact Us</a>
                </li>
                <form class="form-inline">
                    <button class="btn btn-outline-light" type="button">Sign-In/Register</button>
                </form>
            </ul>
        </div>
    </div>
</nav>