{% extends 'base.html' %}
{% block title %}Ticketfy - Contact Us{% endblock %}

{% block content %}
<!-- Nav tabs -->
<h2 class="display-3">We'd love to hear from you</h2>
<p>
    Feel free to contact us with any questions or concerns you may have. We're here to help! You can use the form, drop us an email, or give us a call if that's how you roll!
</p>
<div class="email">
<a href="mailto:hansmorillo07@gmail.com">hansmorillo07@gmail.com</a>
</div>
<div class="phone">
<a href="tel:+65 0000 0000">+65 0000 0000</a>
</div>
<div class="address">
<address>
    <a href="https://maps.app.goo.gl/tbS3g91gJP7dDf1s7">Hans Island</a>
</address>
</div>
<p>
    More coming soon!
</p>
{% endblock %}